body {
    background-color: lightgreen;
}

#griglia {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 2px, solid, black;

}

#griglia, .square {
    border: 2px, solid, black;
}

.square {
    width: calc(100% / 5);
    height: calc(100% / 5);
    cursor: crosshair;
}

.square.active {
    background-color: var(--active-bg);

}