:root {
    --active-bg: #4ec4e2;
}


body {
    background-color: #044e64;
    
}

h1 {
    color: white;
}

#griglia {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;


}


.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    cursor: crosshair;
    border: 1px solid black;
   


}

.square.active {
    background-color: var(--active-bg);

}